@media (max-width: 500px) {

  .section-title {
    padding: 1rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    background-color: #000;
    padding: 0;
    height: auto;
    z-index: 1;
    position: sticky;
    width: 100%;
  }

  .navbar .logo {
    opacity: 1;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links ul {
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links a:hover,
  .navbar-links a:focus,
  .navbar-links a:active {
  outline: none;
  border: none;
  transform: none;
  background-color: transparent;
}

  .navbar-links.active {
    display: flex;
  }

  /* Hero Styles */

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: padding-top 0.3s ease;
    animation: none;
    background: transparent;
  }
  
  .hero .profile-pic {
    display: none;
  }

  .hero-content.push {
    padding-top: 15rem;
  }

  .hero-title {
    padding: 0;
  }

  .hero-content .btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .hero-content .btn:hover,
  .hero-content .btn:active,
  .hero-content .btn:focus
  {
   background-color: transparent;
  }

  /* About */

  .about-info .about-and-skills-info {
    grid-template-columns: repeat(1, 1fr);
    background-color: #111;
    box-shadow: none;
  }

  .about-info {
    /* padding: 2rem 3rem; */
    padding: 0;
  }

  .about-info .section-title-div {
    margin-bottom: 0rem;
  }

  .about-info .section-title {
    padding-top: 2rem;
  }

  .about-info .section-subtitle {
    display: none;
  }

  .about-info .about-info-content {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding-top: 0;
  }

  .about-info .about-info-content .about-paragraphs {
    width: 100%;
  }

  .about-info .about-info-content .about-paragraphs p {
    font-size: 1.2rem;
  }

  .about-info .about-info-content figure {
    display: none;
    /* margin-bottom: 20px;
    padding: 0;
    width: 50%; */
  }

  .about-info .about-info-content .profile-pic {
    border: none;
  }

  /* About Info Skills Section */

.about-info .skill-icons {
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  gap: 1.5rem;
  padding: 0;
}

.about-info .skill-icons figure {
  width: 100%;
  background-color: #111;
  box-shadow: none;
}

  /* Projects */

  #projects {
    margin-bottom: 0;
  }

  .js-projects-container {
    display: grid;
    grid-template-columns: 1fr; /* default: 1 column */
    gap: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .projects-showcase {
    background-color: #111;
    padding: 0;
    padding-bottom: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .projects-showcase .section-subtitle {
    display: none;
  }


  .projects-showcase .section-title-div {
    margin-bottom: 2.5rem;
  }

  .projects-showcase .wrapper {
    width: 100%;
  }

  .project-section {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 0rem;
    width: 100%;
    max-width: 100%;
    background-color: #111;
  }

  .project-section .project-info {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    background-color: #111;
  }

  .project-section .project-img:hover {
    transform: none;
    opacity: 1;
  }

  .project-title {
    padding: 0.5rem;
  }

  .projects-showcase figure {
    margin: 0;
  }

  .projects-showcase .project-paragraphs {
    width: 100%;
    padding: 0;
  } 

  .project-links {
    justify-content: center;
  }

  .project-links .btn {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .project-links .btn:hover {
    background-color: transparent;
    transform: none;
    border: 1px solid #31c654;
  }

  .tech-stack {
    background-color: #111;
  }

  .project-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .project-icons figure {
    background-color: #111;
    border-radius: 10px;
    align-items: center;
  }

  .project-icons figure:hover {
    background-color: transparent;
    box-shadow: none ;
  }

  .project-icons figure img:hover {
    transform: none;
  }

  .project-icons figure figcaption {
    font-size: 85%;
  }

  .project-icons figure:nth-child(2) {
    order: 1;
  }

  .tech-stack {
    padding: 1rem;
  }

    /* Contact */

    #contact {
      margin-bottom: 5rem;
    }

    .contact-section {
      padding: 2rem;
    }

    .contact-section .section-title-div {
      margin-bottom: 2.5rem;
    }

    .contact-form {
      width: 100%;
      box-shadow: none;
      padding: 0rem;
    }

    .contact-form .btn {
      padding: 10px 15px;
      font-size: 1.5rem;
    }

  /* Footer */

  #footer {
    position: static;
    padding: 0;
    justify-content: space-between;
    font-size: 1rem;
  }

  #footer i {
    margin: 0rem 1rem;
    padding: 0;
  }

  .footer-social-icons {
    display: flex;
  }

  .footer-social-icons i {
    margin: 0;
  }

}

@media (max-width: 768px) and (min-width: 501px) {

  .section-title {
    padding: 1rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    background-color: #000;
    padding: 0;
    height: auto;
    z-index: 1;
    position: sticky;
    width: 100%;
  }

  .navbar .logo {
    opacity: 1;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links ul {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links a:hover {
    border: none;
    width: 100%;
  }

  .navbar-links li:hover {
    background-color: transparent;
    width: 100%;
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
  }

  /* Hero Section */

  .hero-content {
    animation: none;
  }

  .hero-content figure {
    display: none;
  }

  .hero-content .profile-pic {
    display: none;
  }

  /* About Info */

  .about-info .about-and-skills-info {
    grid-template-columns: repeat(1, 1fr);
    background-color: transparent;
    box-shadow: none;
    flex-direction: column;
  }

  .about-info {
    padding: 0;
  }

  .about-info .about-title {
    padding-top: 5rem;
  }

  .about-info .section-title-div {
    margin-bottom: 0;
  }

  .about-info .about-info-content {
    flex-direction: column;
    align-items: center;
    background-color: #111;
    padding: 0;
  }

  .about-info .about-info-content .about-paragraphs {
    width: 100%;
  }

  .about-info .about-info-content .about-paragraphs p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  /* About Info Skills Section */

.about-info .skill-icons {
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  padding: 0;
}

.about-info .skill-icons figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.about-info .skill-icons figcaption {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
} 

  /* Projects */

  #projects {
    margin-bottom: 0;
  }

  .js-projects-container {
    display: grid;
    grid-template-columns: 1fr; /* default: 1 column */
    gap: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .projects-showcase {
    background-color: #111;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-showcase .wrapper {
    max-width: 100%;
    padding: 0 0rem;
  }

  .project-section {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #444;
  }

  .project-section .project-info {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
  }

  .project-title {
    padding: 0.5rem;
  }

  .project-section:hover {
  transform: none;
}

  .projects-showcase figure {
    width: 75%;
  }

  .projects-showcase .phone-figure {
    width: 60%;
    margin: 0 auto;
  }
  
  .projects-showcase .phone-figure img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }

  .projects-showcase .project-paragraphs {
    width: 100%;
    padding: 0;
  } 

  .project-links {
    justify-content: center;
  }

  .project-links .btn {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .project-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .project-icons figure {
    flex: 1 1 120px;
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
  }

  .project-icons figure figcaption {
    font-size: 85%;
  }

  .project-icons img {
    width: 50%;
  }

  .project-icons figure:nth-child(2) {
    order: 1;
  }

  .tech-stack {
    padding: 1rem;
  }

  /* Contact */

  #contact {
    margin-bottom: 5rem;
  }

  .contact-section {
    padding: 1.5rem;
    padding-bottom: 2rem;
    max-width: 600px;
  }

  .contact-form {
    width: 100%;
    box-shadow: none;
    padding: 1rem;
  }

  /* Footer */

  #footer {
    position: static;
    padding: 1rem 0;
    justify-content: space-between;
  }

  #footer i {
    margin: 0rem 1rem;
    padding: 0;
  }

  .footer-social-icons {
    display: flex;
  }

  .footer-social-icons i {
    margin: 0;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .section-title {
    padding: 1rem;
  }

  .toggle-button {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    background-color: #000;
    padding: 0;
    height: auto;
    z-index: 1;
    position: sticky;
    width: 100%;
  }

  .navbar .logo {
    opacity: 1;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links ul {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links a:hover {
    border: none;
  }

  .navbar-links a:hover,
  .navbar-links a:focus,
  .navbar-links a:active {
  outline: none;
  border: none;
  transform: none;
  background-color: transparent;
}

  .navbar-links.active {
    display: flex;
  }

  /* Hero Section */

  .hero-content {
    animation: none;
  }

  .hero-content figure {
    display: none;
  }

  .hero-content .profile-pic {
    display: none;
  }

  /* About */

  .about-info .about-title {
    padding-top: 5rem;
  }

  .about-info .about-and-skills-info {
    flex-direction: column; 
  }

  .about-info .about-info-content {
    flex-direction: column;
    align-items: center;
  }

  .about-info .about-info-content .about-paragraphs {
    width: 100%;
  }

  .about-info .about-info-content figure {
    margin-bottom: 20px;
    padding: 0;
    width: 50%;
  }

  .about-info .about-info-content .profile-pic {
    border: none;
  }

  .about-info figcaption {
    font-size: 1.1rem;
  }

  /* Projects */

  #projects {
    margin-bottom: 0;
  }

  .js-projects-container {
    display: grid;
    grid-template-columns: 1fr; /* default: 1 column */
    gap: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .projects-showcase {
    background-color: #111;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-showcase .wrapper {
    max-width: 100%;
    padding: 0 0rem;
  }

  .project-section {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #444;
  }

  .project-section .project-info {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
  }

  .project-title {
    padding: 0.5rem;
  }

  .project-section:hover {
  transform: none;
}
  
  .projects-showcase .phone-figure img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }

  .project-links {
    justify-content: center;
  }

  .project-links .btn {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .project-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .project-icons figure {
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
  }

  .project-icons figure figcaption {
    font-size: 85%;
  }

  .project-icons img {
    width: 25%;
  }

  .project-icons figure:nth-child(2) {
    order: 1;
  }

  .tech-stack {
    padding: 1rem;
  }

  /* Contact */

  #contact {
    margin-bottom: 5rem;
  }

  .contact-section {
    padding: 1.5rem;
    padding-bottom: 2rem;
    max-width: 600px;
  }

  .contact-form {
    width: 100%;
    box-shadow: none;
    padding: 1rem;
  }

  /* Footer */

  #footer {
    position: static;
    padding: 1rem 0;
    justify-content: space-between;
  }

  #footer i {
    margin: 0rem 1rem;
    padding: 0;
  }

  .footer-social-icons {
    display: flex;
  }

  .footer-social-icons i {
    margin: 0;
  }
}

@media (max-width: 844px) and (orientation: landscape) {
  .section-title {
    padding: 1rem;
  }

  .toggle-button {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    width: 100%;
  }
  
  .navbar .logo {
    opacity: 1;
  }

  .navbar-links {
    display: flex;
  }
  
  .navbar-links ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
  }
  
  .navbar-links a {
    display: block;
    padding: 20px;
    font-size: 1.5rem;
    color: #fff;
  
    transition: transform 0.15s;
  }

  .navbar-links a:hover,
  .navbar-links a:focus,
  .navbar-links a:active {
  outline: none;
  border: none;
  transform: none;
  background-color: transparent;
}

  /* Hero Styles */

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: padding-top 0.3s ease;
    animation: none;
  }

  .hero .profile-pic {
    display: none;
  }

  .hero-content.push {
    padding-top: 20rem;
  }

  .hero-title {
    font-size: 2rem;
    padding: 0;
  }

  .hero-subtitle {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 2rem;
  }

  .hero-content .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
  }

  .hero-content .btn:hover,
  .hero-content .btn:active,
  .hero-content .btn:focus
  {
   background-color: transparent;
  }

  /* About */

  .about-info .about-and-skills-info {
    flex-direction: column;
  }

  .about-info .section-title {
    font-size: 2.5rem;
  }

  .about-info .about-info-content {
    flex-direction: column;
    align-items: center;
  }

  .about-info .about-info-content figure {
    margin-bottom: 0;
    padding: 0;
    width: 0;
  }

  .about-info .about-info-content .profile-pic {
    border: none;
    display: none;
  }

  /* Projects */

  #projects {
    margin-bottom: 0;
  }

  .js-projects-container {
    display: grid;
    grid-template-columns: 1fr; /* default: 1 column */
    gap: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .projects-showcase {
    background-color: #111;
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-showcase .section-title {
    font-size: 2rem;
  }

  .projects-showcase .wrapper {
    max-width: 100%;
    padding: 0 0rem;
  }

  .project-section {
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 0rem;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #444;
  }

  .project-section .project-info {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
  }

  .project-title {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .project-section:hover {
  transform: none;
}

  .projects-showcase figure {
    width: 100%;
  }

  .projects-showcase .phone-figure {
    width: 15%;
    margin: 0 auto;
    padding: 0;
  }
  
  .projects-showcase .phone-figure img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }

  .projects-showcase .project-paragraphs {
    width: 100%;
    padding: 0;
  } 

  .project-links {
    justify-content: center;
  }

  .project-links .btn {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .project-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .project-icons figure {
    flex: 1 1 120px;
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
  }

  .project-icons figure figcaption {
    font-size: 85%;
  }

  .project-icons img {
    width: 50%;
  }

  .project-icons figure:nth-child(2) {
    order: 1;
  }

  .tech-stack {
    padding: 1rem;
  }

    /* Contact */

    #contact {
      margin-bottom: 5rem;
    }

    .contact-section .section-title-div {
      margin-bottom: 0;
    }

    .contact-section .section-title {
      font-size: 2rem;
    }

    .contact-form {
      width: 100%;
      box-shadow: none;
      padding: 2rem;
    }

    .contact-form input {
      font-size: 1.2rem;
    }

    .contact-form label {
      font-size: 1.2rem;
    }

    .contact-form .btn {
      font-size: 1.2rem;
      padding: 10px 15px;
    }

  /* Footer */

  #footer {
    position: static;
    padding: 0;
    justify-content: space-between;
    font-size: 1rem;
  }

  #footer i {
    margin: 0rem 1rem;
    padding: 0;
  }

  .footer-social-icons {
    display: flex;
  }

  .footer-social-icons i {
    margin: 0;
  }
}

@media (max-width: 1920px) and (min-width: 1080px) {

  .btn-small {
    padding: 8px 13px;
    font-size: 1.2rem;
  }

  /* About */

  .about-info .about-and-skills-info {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-info .about-info-content {
    padding: 1.5rem 3rem;
  }

  /* Projects */

  #projects {
    margin-bottom: 0;
  }

  .js-projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .projects-showcase {
    padding: 10px;
  }

  .projects-showcase .wrapper {
  }

  .project-section .project-info {
  }

  .project-title {
    font-size: 2.2rem;
  }

  .project-section:hover {
}

.projects-showcase figure {
}

.projects-showcase figure img {
}

.projects-showcase figure a:focus {
  outline: none;
}

.projects-showcase .project-img {
  transition: transform 0.15s;
}

  .projects-showcase .project-paragraphs {
  } 

  .project-links {
  }

  .project-links .btn {
  }

  .project-icons {
  }

  .project-icons figure figcaption {
  }

  .project-icons img {
  }

  .tech-stack {
  }
}