/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #111;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  line-height: 4rem;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 10px 0;
}

/* Utilities */

.btn {
  padding: 15px 30px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #28a745;
  color: #fff;
  transition: background-color 0.15s, border 0.15s, transform 0.15s;
  background: transparent;
}

.btn-small {
  padding: 15px 20px;
  font-size: 1.5rem;
}

.btn:hover,
.btn:focus {
  background-color: #28a745;
  border: 1px solid #000;
  outline: none;
}

.btn:active {
  background-color: #31c654;
  transform: scale(1.1);
}

.btn-primary {
  background-color: #28a745;
  color: #fff;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #31c654;
}

.scrolled-down {
  background-color: #0e3a18;
  animation: fade-in 0.5s 0s ease-out forwards;
}

.scrolled-top {
  background-color: transparent;
  animation: fade-in 0.5s 0s ease-out forwards;
  opacity: 1;
}

.offscreen {
  position: relative;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  width: 100%;
  animation: fade-in 1s 4s ease-out forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar .logo {
  font-size: 3rem;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  width: 50px;
}

.navbar-links ul {
  display: flex;
  text-align: center;
}

.navbar-links a {
  display: block;
  padding: 20px;
  font-size: 2rem;
  color: #fff;

  transition: transform 0.15s;
}

.navbar-links a:hover,
.navbar-links a:focus {
  border-bottom: 1px solid #28a745;
  transform: scale(1.1);
  outline: none;
}

.navbar-links a:active {
  border-bottom: 2px solid #31c654;
}

/* Hamburger Menu */

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Hero Styles */

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1100px;
  min-width: 100%;
}

.hero-title {
  font-size: clamp(3rem, 10vw, 5rem);
  line-height: 5rem;
  animation: fade-in 1.5s 0.5s ease-out forwards;
  opacity: 0;
}

.hero-title .wave {
  display: inline-block; 
  animation: hand-wave 1s 0.5s ease-out forwards 2;
  transform-origin: 70% 70%;
}

@keyframes hand-wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  45% { transform: rotate(14deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}


.hero-subtitle {
  margin: 20px 0;
  font-size: clamp(2rem, 4vw, 4.5rem);
  animation: fade-in 1.5s 1s ease-out forwards;
  opacity: 0;
}

.hero-btn {
  animation:
    slide-in-move 2s 1.5s cubic-bezier(0.66, 0, 0.34, 1) forwards,
    slide-in-fade 3s 1.5s cubic-bezier(0.66, 0, 0.34, 1) forwards,
    border-fade-in 1s 3s cubic-bezier(0.66, 0, 0.34, 1) forwards;
  border: 1px solid transparent;
  opacity: 0;
}

@keyframes slide-in-move {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes border-fade-in {
  from {
    border-color: transparent;
  }
  to {
    border-color: #28a745;
    transform: scale(1.1);
  }
}

/* About */

.about-info {
  padding: 30px;
  padding-bottom: 5rem;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info .about-info-content {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.about-info .about-info-content .about-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

.about-info .about-info-content figure {
  max-width: 400px;
  padding-right: 5rem;
}

.about-info .about-info-content .profile-pic {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid #31c654;
  border-radius: 50%;
}

/* Skills */

.skills {
  padding: 30px;
  padding-bottom: 15rem;
  background-color: #111;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section-title-div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-title {
  color: #fff;
  font-size: clamp(2rem, 6vw, 4.5rem);
  text-align: center;
  box-shadow: inset 0px -3px 0px 0px #31c654;
  width: max-content;
  padding-top: 10rem;
}

.skills .skill-icons {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills .skill-icons figure {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.skills figure img {
  margin-bottom: 2rem;
  /* cursor: pointer; */
  transition: transform 0.15s;
  width: 50%;
}

.skills figure img:hover {
  transform: scale(1.05);
}

.skills figcaption {
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 15px;
  color: #fff;
}

/* Projects */

#projects {
  background-color: #111;
}

.projects-showcase {
  background-color: #111;
  padding: 30px;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects-showcase .wrapper {
  max-width: 90%; /* wider just for projects */
}

.js-projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 5rem;
  padding: 2rem;
}

.project-section {
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 10rem;
  background-color: #1a1a1a;
  color: #fff;
  transition: transform 0.2s ease;
  /* box-shadow: inset 0px -3px 0px 0px #222; */
}

.project-section:hover {
  transform: scale(1.01);
}

.project-section .project-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #1a1a1a;
  padding: 2rem;
  width: 100%;
  transition: transform 0.2s ease;
}

.project-title {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.projects-showcase .project-paragraphs {
  width: 50%;
  padding: 1rem;
  text-align: left;
}

.projects-showcase .project-paragraphs p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.project-links {
  padding-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  gap: 3rem;
  align-items: center;
}

.projects-showcase figure {
  width: 45%;
  padding: 0;
  margin-bottom: 1rem;
}

.projects-showcase figure a:focus {
  outline: none;
}

.projects-showcase .phone-figure {
  width: 20%;
  padding-block: 2rem;
}

.projects-showcase .project-img {
  transition: transform 0.15s;
}

.projects-showcase figure a:focus .project-img,
.projects-showcase .project-img:hover {
  transform: scale(1.02);
}

/* Technologies Used */

.tech-stack {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: #1a1a1a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.tech-stack h3 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: clamp(2rem, 3vw, 3.5rem);
  color: #fff;
  letter-spacing: 1px;
  position: relative;
}

.project-icons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.project-icons figure {
  flex: 1 1 120px;
  width: 20rem;
  background-color: #222;
  padding: 2rem;
  border-radius: 10px;
  transition: box-shadow 0.5s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.project-icons figure:hover {
  background-color: #333;
  box-shadow: 0 0 3px 3px #31c654 ;
}

.project-icons img {
  margin-bottom: 1rem;
  max-width: 90px;
  height: auto;
  transition: transform 0.3s;
}

.project-icons img:hover {
  transform: scale(1.1);
}

.project-icons figcaption {
  font-size: 1.4rem;
  color: #ddd;
  text-align: center;
  margin-top: 0.5rem;
}


/* Contact */

#contact {
  background-color: #111;
  margin-block-end: 35rem;
}

.contact-section {
  background-color: #111;
  padding: 3rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 5rem;
  box-shadow: 1px 1px 5px #222;
}

.contact-form .form-group {
  margin: 3rem 0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  display: block;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #000;
}

.contact-form textarea {
  height: 10rem;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #31c654;
}

.contact-form label {
  display: block;
  color: #fff;
  font-size: clamp(1.6rem, 0.5vw, 2rem);
}


/* Footer */

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 20px;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: background-color 0.5s ease;
}

.page-footer {
  animation: fade-in 1s 4s ease-out forwards;
}

#footer i {
  color: #fff;
  margin: 20px;
  transition: transform 0.15s;
}

#footer a:hover,
#footer a:focus {
  transform: scale(1.1);
  cursor: pointer;
  outline: none;
  border: none;
}

#footer .footer-social-icons a:first-child:hover i {
  transform: scale(1.1);
  color: #0077b5;
}

#footer .footer-social-icons a:last-child:focus i {
  transform: scale(1.1);
  color: #222;
}

#footer .footer-social-icons i:hover {
  transform: scale(1.1);
}

#footer .footer-social-icons a:active {
  opacity: 0.8;
}
